$gray7: #f4f5f9;
$primary-color: #2979ff;
:root {
  --primary-color: #2979ff;
  --black-color: #141416;
  --gray2: #353945;
  --gray3: #777e90;
  --gray4: #b1b5c3;
  --gray5: #e6e8ec;
  --gray4f: #4f4f4f;
  --gray6: #f4f5f6;
  --primary-font: "Inter", sans-serif;
  --secondary-font: "DM Sans", sans-serif;
  --fz-default: 14px;
}
